{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block body %}
    <h1>Full list of this website's books :</h1>
    
    <ul class="books">
    {% for book in books %}
        <li>
            <a href="{{ path('count_fanfic_bookpage', { 'bookSlug': book.slug }) }}">{{ book.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}